@use '../../lib/service.scss' as s;
 
.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(2);

    margin-right: 5px;

  &__title {
    margin-top: s.space(4);
    font-size: 24px;
    font-weight: bold;
    color: blue;
} 

//   &__form__content {
//     display: grid;
    
//  }

&__card {
    border: 1px solid s.color('light');
    margin-top: s.space(4);

    
    border-radius: s.space(2);
    box-shadow: -1px 0px 5px 4px  #f7f1f1;
}

&__form__card__title {
    padding-top: 20px;
    font-weight: 400;
    
}

&__card__body {
    padding: s.space(4);
}

  &__f1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: s.space(2);
    margin-top: s.space(3);

    margin-bottom: s.space(3);
    
  }

  

  &__field {
    display: flex;
    flex-direction: column;
    gap: s.space(2)
  }


  &__label {
    font-size: 16px;
  }

  &__input {
    border: 1px solid s.color('light');
    padding: s.space(1);
    width: 100%;
    
 }

 &__button__double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: s.space(2)
 }

  &__button__primary {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: s.space(4);
    padding-top: s.space(2);;
    border: 1px solid ;
    border-radius: s.space(1);
    background-color: s.color('primary');
    color: white;
    padding: s.space(2);
    
  }

  &__button__danger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: s.space(4);
    padding-top: s.space(2);;
    border: 1px solid ;
    border-radius: s.space(1);
    background-color: s.color('danger');
    color: white;
    padding: s.space(2);
    text-decoration: none;

    
  }

 
}


.form__card__title {
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.form__input2 {
   
    border: 1px solid s.color('light');
    padding: s.space(3);
    
  }

  
