{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<section class='form'>
  <div class='form__card'>
    <div class='form__card__body'>
      <div class='couple'>
        <h1 class='form__card__title'>Успішне виконання дії</h1>
        <p class='info'>Товар успішно оновлений</p>
      </div>
      <a
        href='/product-list'
        class='form__button'
      >Повернутися назад</a>
    </div>
  </div>

</section>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}