@use '../../lib/service.scss' as s;
 
.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(2);

    margin-right: 20px;

  &__title {
    margin-top: s.space(4);
    font-size: 24px;
    font-weight: bold;
    color: blue;
} 

  &__form__content {
    display: grid;
 }

&__card {
    border: 1px solid s.color('light');
    margin-top: s.space(4);

    margin-right: s.space(10);
    border-radius: s.space(2);
    box-shadow: -1px 0px 5px 4px  #f7f1f1;
}

&__card__title {
    padding-top: s.space(2);
    font-weight: bold;
    padding-bottom: 20px;
    
}

&__card__body {
   display: flex;
    padding: s.space(4);
   justify-content: space-between;
}

 

  

  

  &__button {
     display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: s.space(2);
    margin-bottom: s.space(2);
    
    border: 1px solid ;
    border-radius: 8px;
    background-color: s.color('primary');
    color: white;
    padding: s.space(2);
    
  }

 
}

  
