@use '../../lib.service.scss' as s;






// .form {
//    display: flex; 
//    flex-direction: column;
//    padding: s.space(4);
//    gap: s.space(8);

//   &__title {
//     font-size: 20px;
//     font-weight: bold;
//     padding-bottom: s.space(1);
   
//     border-bottom: 1px solid s.color('light');
//   }

//   &__content{
//     display: grid;
//     gap: s.space(6);
//   }

//   &__field {
//     display: flex;
//     flex-direction: column;
//     gap: s.space(2);
//   }

//   &__label {
//     font-size: 14px;
//   }

//   &__input {
//     border: 1px solid s.color('light');
//     padding: s.space(2);
//   }

//   &__button {
//     border: 1px solid s.color('light');
//     padding: s.space(2);
//     border-radius: 20px;
//   }
// }

// main {
//     display:flex;
//     flex-direction: column;
//     gap: s.space(10);
// }

// .user-list {
//     li {
//       padding-right: 15px ;
//       padding-top: 5px;
//       padding-bottom: 5px
//     }
// }

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.6s;

  &:hover {
    opacity: 0.6;
  }
}

.main {
  background-color: s.color(dark);
  height: 100%;
  color: s.color(light);
  display: flex;
  justify-content: center;
  padding: s.space(6) s.space(2);
}

.main__content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: s.space(15);
}

.title {
  font-size: 24px;
}

.title--center {
  text-align: center;
}


.choose {
  display: grid;
  gap: s.space(6);
}

.choose__item {
  display: grid;
  grid-template-columns: 56px 1fr;
  gap: s.space(6);
}

.choose__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}