{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main>
   <div class="products">
     <div class="title">Список товарів</div>
     <div class="card">
        <div class="grid">
         {{> product-card}}
         </div>
      </div>
      
   </div>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}